<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--Permiso para acceder a galeria-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/aplicacion_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/aplicacion_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DebatezoDemo"
        tools:targetApi="31">
        <activity
            android:name=".configuracion.Configuracion"
            android:exported="false" />
        <activity
            android:name=".usuario.datospersonal.ActividadDatosPersonal"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:exported="false" />
        <activity
            android:name=".usuario.registrar.ActividadRegistrar"
            android:exported="false" />
        <activity
            android:name=".debaterecycler.detalle.DetalleDebate"
            android:exported="false" />
        <activity
            android:name=".usuario.iniciarsesion.ui.login.IniciaSesion"
            android:exported="false" />
        <activity
            android:name=".ActividadPrincipal"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>